// Partials:

$accent: rgb(81 162 255);
$dark-bg: darken(
  $color: white,
  $amount: 94,
);
$translucid-grey: rgba(78, 78, 78, 0.7);
$grey-lm: #cbcbcb;
$grey-dm: #383838;
$section-margin-inline: 100px;
$anchor: rgb(0, 183, 255);
$gradient: -webkit-linear-gradient(35deg, rgb(11, 135, 44), rgb(93, 52, 148));
$dark-bg2: darken(
  $color: white,
  $amount: 90,
);
$light-bg2: darken(
  $color: white,
  $amount: 8,
);
