.Contact__section {
  align-items: flex-start;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  justify-content: center;
  position: relative;
  width: 100%;
  overflow: hidden;
  z-index: 0;
  background-color: $light-bg2;
  border: none;
}

.dark .Contact__section {
  background-color: $dark-bg2;
}

.Contact__section-grid {
  align-self: flex-start;
  display: grid;
  grid-template-columns: 3fr 5fr;
  max-width: 68rem;
  gap: 10%;
}

.Contact__section-content-left {
  align-self: center;
  display: flex;
  flex-direction: column;
  position: relative;

  .Contact__number {
    right: 0;
  }

  h1 {
    margin-bottom: 1rem;
    margin-top: 10rem;
    text-align: right;
  }

  p {
    margin-bottom: 6rem;
    font-weight: 200;
    text-align: right;
  }
}

.Contact__section-content-right {
  margin-block: auto;
}

.Contact__section-form-container {
  display: flex;
  align-items: center;

  form {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;

    span {
      color: rgb(255, 66, 66);
      margin-bottom: 0.25rem;
    }

    input,
    textarea {
      padding: 0.5rem;
      resize: none;
      outline: none;
      border-style: none;
      border: 2px solid $translucid-grey;
      width: 100%;
      margin-bottom: 1rem;
      transition: 0.2s;
      background-color: lightgray;

      &:focus {
        outline-offset: 2px;
        box-shadow: 0 6px 0px -2px $accent;
      }
    }

    button {
      cursor: pointer;
      padding: 0.5rem 1.25rem;
      color: white;
      border: none;
      border-radius: 50px;
      font-size: 1rem;
      font-weight: 600;
      background: $gradient;
      margin-bottom: 1rem;

      &:hover {
        background: $accent;
      }
    }

    .message-sent {
      color: green;
    }

    .message-error {
      color: red;
    }
  }
}
